<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.notrobots.authenticator">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/label_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.accountlist.AccountListActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.barcode.BarcodeScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.AccountActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.backupexport.ExportActivity" />

        <activity
            android:name=".ui.backupimport.ImportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.backupimportresult.ImportResultActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.backupexportqr.ExportQRActivity" />

        <activity
            android:name=".ui.backupexporttext.ExportTextActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>