<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.notrobots.authenticator">

    <!-- Used by the QR scanner -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Used by the BackupJob service  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/label_app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.accountlist.AccountListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.barcode.BarcodeScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.AccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.backupexport.ExportActivity"
            android:label="Export"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.backupimport.ImportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.backupimportresult.ImportResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.backupexportqr.ExportQRActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.backupexporttext.ExportTextActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/label_settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.backupmanager.BackupManagerActivity"
            android:label="@string/label_backup_manager"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.taglist.TagListActivity"
            android:label="@string/label_tags"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.backupexport.ExportFileActivity"
            android:label="Backup"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.LocalBackupJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>